@font-face {
  font-family: "signaFont";
  src: url("assets/fonts/Authentic Signature.ttf");
}

@font-face {
  font-family: "valentine";
  src: url("assets/fonts/Valentime.otf");
}

@font-face {
  font-family: "wallNotes";
  src: url("assets/fonts/Wall Notes.otf");
}

@font-face {
  font-family: "playwrite";
  src: url("assets/fonts/PlaywriteUSTrad-VariableFont_wght.ttf");
}

body {
  background-image: url(/assets/img/tile.jpg);
}

.titlePic {
  background-image: url(/assets/img/title.png);
  height: 80px;
  width: 300px;
  background-repeat: no-repeat;
  margin-left: 40%;
}
.box1 form {
  font-family: "wallNotes";
  background-image: url(/assets/img/formbg.jpg);
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  margin-left: 32%;
  align-items: center;
  padding: 14px;
}

.box1 form input {
  border: none;
  border-radius: 20px;
  width: 150px;
  margin: 9px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-image: linear-gradient(white, gold);
  opacity: 0.9;
}

.box1 form textarea {
  color: black;
  border: none;
  text-align: center;
  border-radius: 20px;
  width: 350px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: linear-gradient(white, gold);
  opacity: 0.9;
}

.box1 form textarea:hover {
  background-image: linear-gradient(gold, white);
}

.box1 form input:hover {
  border: none;
  background-image: linear-gradient(gold, white);
  border-radius: 20px;
}

.box1 form button {
  border: none;
  border-radius: 20px;
  width: 200px;
  font-family: fantasy;
  background-image: linear-gradient(white, gold);
  opacity: 0.9;
}

.box1 form button:hover {
  border: none;
  background-image: linear-gradient(gold, white);
  border-radius: 20px;
}

.todoDiv {
  position: relative;
  background-image: url(/assets/img/notebg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 320px;
  max-height: 320px;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.textAreaContent {
  margin-top: 24px;
  margin-left: 12px;
  height: 120px;
  width: 160px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: cursive;
  word-wrap: break-word;
}

.todoArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
  margin: 4px;
}

.todoDiv button {
  position: absolute;
  top: 28px;
  right: 5px;
  visibility: hidden;
  background: none;
  border: none;
  cursor: pointer;
}

.todoDiv:hover button {
  visibility: visible;
}

.todoDiv button:hover {
  background-color: black;
  color: white;
  border-radius: 3px;
}

.newClassTodo {
  animation: fadeIn 3s;
}

.removeClassTodo {
  animation: fadeOut 3s;
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.deadlineDiv {
  position: absolute;
  bottom: 35px;
  left: 10px;
  height: 20px;
  width: 100px;
  font-family: cursive;
}

.buttonsForm {
  margin-left: 52px;
}

.topicClass {
  text-align: center;
  margin-top: 28px;
  border-bottom: 2px solid black;
  word-wrap: break-word;
  max-width: 100%;
}
